body{
    width: 1440px;
    font-family: 'Inter', sans-serif;
    margin: 0%;
}
.donate-now{
    color: white;
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    height: 669px;
}
.background-gradiant{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    width: 1440px;
    height: 669px;
}
.text-area{
    padding: 100px;
}
.donate-now h1{
    font-size: 50px;
    font-weight: 900;
}
.link-button{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
}
.donate-today{
    text-align: center;
}
.donate-today h1{
    font-size: 40px;
    font-weight: bold;
}
.donate-today p{
    color: gray;
}
.donation-cards{
   margin-left: 300px;
   display: flex;
}
.amount-number{
    text-align: center;
}
.donation-amount{
    margin-left: 10px;
    color: gray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 136px;
    height: 100px;
    background-color:#FAFAFA;
}
.donation-amount:hover{
    color: tomato;
    border: 3px solid tomato;
    background-color: rgb(243, 217, 209);
}
input{
    border: none;
    border-bottom: 2px solid lightgray;
    width: 400px;
    text-align: center;
    font-weight: lighter;
    height: 30px;
}
.button-position{
    text-align: center;
}
.donation-plan{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
.plans{
    display: flex;
   padding: 50px 200px;
}
.single-plan{
    text-align: left;
    padding: 30px;
    border-radius: 10px;
    margin-left: 15px;
}
.single-plan p{
    text-align: left;
}
.food-plan{
    background: rgba(79, 157, 166, 0.1);
}
.sheltar-plan{
    background: rgba(255, 89, 89, 0.1);
}
.education-plan{
    background: #FFF4D6;
}
.our-update{
    text-align: center;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
.subscription{
    margin: auto;
    display: flex;
    background:#FFF4D6;
    width: 800px;
    height: 150px;
}
.e-mail{
    background: lightgray;
    font-size: large;
}
.subscribe{
    padding:5px;
    color: white;
    background: tomato;
}
footer{
    margin-top: 70px;
    text-align: center;
    background: #0B0D17;
}
.footer-elements{
    padding: 20px 0px ;
}
.footer-elements h3{
    color: tomato;
    font-family: Lobster;
}
.footer-elements p{
    color: white;
    font-size: x-small;
    font-weight: lighter;
}